{% extends "auctions/layout.html" %}

{% block body %}

{% if message %}
<div>
    <p class="text-danger">Error: {{ message }}</p>
</div>
{% endif %}

<h2>Listing: {{ auction.title }}</h2>
<div class="card mb-3">
    <div>
        {% if auction.watchlist_id and user.is_authenticated %}
        <a href="{% url 'delete_watchlist' watchlist_id=auction.watchlist_id %}">
            <span class="badge badge-primary" style="margin: 10px 0 0 10px;">Watchlist</span>
        </a>
        {% elif not auction.watchlist_id and user.is_authenticated %}
        <a href="{% url 'add_watchlist' auction_id=auction.id %}">
            <span class="badge badge-secondary" style="margin: 10px 0 0 10px;">Watchlist</span>
        </a>
        {% endif %}
    </div>
    <img src="{{ auction.photo_url }}" alt="{{ auction.title }}" class="card-img-top"
        style="width: 50%;max-width: 700px;">
    <div class="card-body">
        <p class="card-text">
            {{ auction.description }}
        </p>
        <h4 class="card-title">
            <p class="card-text" style="font-weight: bold;">${{ value_to_show|floatformat:2 }}</p>
        </h4>

        {% if user.username and user.username != auction.username %}
        <p class="card-text">
        <form action="{% url 'post_bid' auction_id=auction.id %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <small class="text-muted">
                    {% if auction.user_last_bid == user.id %}
                    {{ auction.bid_count }} bids(s) so far. Your bid is the current bid.
                    {% else %}
                    {{ auction.bid_count }} bids(s) so far. Your bid is not the current bid.
                    {% endif %}
                </small>
                <input class="form-control" min="{{ value_to_show }}" type="number" step="0.01" name="bid_value"
                    placeholder="Bid" value="{{ value_to_show|floatformat:2 }}">
                <br>
                <input class="btn btn-primary" type="submit" value="Place Bid">
            </div>
        </form>
        </p>

        {% endif %}
        <p>
        <h5>
            Details
        </h5>
        <ul>
            <li>Listed by: <span style="color: blue;">{{ auction.username }}</span></li>
            <li>Category: {{ auction.category_name }}</li>
        </ul>
        </p>
    </div>
</div>
{% endblock %}