{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing: {{ auctions.0.title }}</h2>

    <div class="card mb-3">
        <img src="{{ auctions.0.photo_url }}" alt="{{ auctions.0.title }}" class="card-img-top" style="width: 50%;max-width: 700px;" >
        <div class="card-body">
            <p class="card-text">
                {{ auctions.0.description }}
            </p>
            <h4 class="card-title">
                <p class="card-text" style="font-weight: bold;">${{ value_to_show|floatformat:2 }}</p>
            </h4>
            <p class="card-text">
                <form action="{% url 'show_auction' auction_id=auctions.0.id %}" method="POST">
                    <div class="form-group">
                        <small class="text-muted">
                            {{ auctions.0.bid_count }} bids(s) so far. Your bid is the current bid.
                        </small>
                        <input class="form-control" min="{{ auctions.0.starting_bid }}" type="number" step="0.01" name="bid_value" placeholder="Bid" value="{{ value_to_show|floatformat:2 }}" >
                        <br>
                        <input class="btn btn-primary" type="submit" value="Place Bid">
                    </div>
                </form>
            </p>
            <p>
            <h5>
                Details
            </h5>  
            <ul>
                <li>Listed by: <span style="color: blue;">{{ auctions.0.username }}</span></li>
                <li>Category: {{ auctions.0.category_name }}</li>
            </ul>
            </p>
        </div>
    </div>
{% endblock %}